<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tm.codemapping.mapper.BasicSettingMapper" >
  
  <delete id="deleteBuilding" parameterType="String">
  	delete from asset_building where id=#{id}
  </delete>
  <select id="getBuildingFloorAreaList" resultMap="buildingResultMap">
    select * from asset_building
  </select>
  <resultMap type="com.tm.codemapping.bean.SettingBuildingBean" id="buildingResultMap">
    <id property="id" column="id"/>
    <result property="name" column="name"/>
    <collection property="floors" ofType="com.tm.codemapping.bean.SettingFloorBean" column="id" select="selectFloorByBuilding">
      <id property="id" column="id"/>
      <collection property="areas" ofType="com.tm.codemapping.bean.SettingAreaBean" column="id" select="selectAreaByFloor">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
      </collection>
    </collection>
  </resultMap>
  <select id="selectFloorByBuilding" resultType="com.tm.codemapping.bean.SettingFloorBean">
    select * from asset_floor where buildingId = #{id}
  </select>
  <select id="selectAreaByFloor" resultType="com.tm.codemapping.bean.SettingAreaBean">
    select * from asset_area where floorId = #{id}
  </select>
</mapper>