<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tm.codemapping.mapper.BasicSettingMapper" >
  
  <delete id="deleteBuilding" parameterType="String">
  	delete from asset_building where id=#{id}
  </delete>
  <select id="getBuildingFloorAreaList" resultMap="buildingResultMap">
    select * from asset_building b,asset_floor f,asset_area a where a.floorId=f.id and f.buildingId=b.id
  </select>
  <resultMap type="com.tm.codemapping.bean.settingbuildingbean" id="buildingResultMap">
    <id property="id" column="id"/>
    <result property="buildingName" column="name"/>
    <collection property="floors" ofType="com.tm.codemapping.bean.settingfloorbean">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <collection property="areas" ofType="com.tm.codemapping.bean.settingareabean">
        	<id property="id" column="id"/>
        	<result property="name" column="name"/>
     </collection>
     </collection>
  </resultMap>
</mapper>