<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tm.system.mapper.UserMapper">
<resultMap id="BaseResultMap" type=com.tm.system.bean.user>
	<id column="USER_ID" jdbcType="DECIMAL" property="userId"/>
	<result column="USERNAME" jdbcType="VARCHAR" property="username"/>
</resultMap>
</mapper>